
<body>
    {% with messages = get_flashed_messages()%}
    {% if messages%}
    <ul>
        {% for message in messages%}
        <li>{{ message}}</li>
        {% endfor%}
    </ul>
    {% endif%}
    {% endwith %}

    <div class="menu">
        <div class="menu_button_1"><a href="http://127.0.0.1:5000/login">Войти</a></div>
        <div class="menu_button"><a href="http://127.0.0.1:5000/shop">Магазин</a></div>
        <div class="menu_button"><a href="http://127.0.0.1:5000/clicker">Кликер</a></div>
        <div class="menu_button"><a href="http://127.0.0.1:5000/profile">Профиль</a></div>

    </div>


    {% block content %}

    {% endblock %}
</body>
</html>