<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Хомяк 2.0</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile_style.css') }}">
</head>
<body>
{% extends "base.html" %}

{% block content %}
    <div class="info">
        <div class="main_info">
            <div class="name">Имя,</div>
            
        
            <div class="age">Возраст</div>
        </div>
        <div class="avatar">
            <img
                class="contain"
                src="https://static.wikia.nocookie.net/1af67a63-dfcf-4c10-b2d8-dcecbc7e6289"/>
            </div>
        <div class="time_on_site">Время на сайте:</div>
        
    </div>
    <div class="cards">Витрина Карт:</div>
    <div class="card_showcase">
        {% for card in cards %}
        <div class="card">
            <img src="{{ url_for('static', filename='images/' + card.image_filename) }}" alt="{{ card.title }}">
            <h3>{{ card.title }}</h3>
            <p>{{ card.description }}</p>
        </div>
        {% endfor %}
    <div class="statistics">
        <div class="price_sum">Общая ценность:</div>
        <div class="rarity">Самая редкая:</div>
    </div>
{% endblock %}
</body>
</html>