<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Хомяк 2.0</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/shop_style.css') }}">
</head>
{% extends "base.html" %}

{% block content %}
<div class="shop_menu">Ежедневные предложения
    <div class="deals">
        <div class="daily_product"><img src="{{ url_for('static', filename='img/' + card1.image_filename) }}" alt="{{ card1.title }}">
            <h3>{{ card1.name }}</h3>
            <p>{{ card1.rarity }}</p>
            <p>{{ card1.value }}</p>
            <button type="button" class="buy">Купить<button>
            </button>
                <div class="daily_product"><img src="{{ url_for('static', filename='img/' + card2.image_filename) }}" alt="{{ card2.title }}">
                    <h3>{{ card2.name }}</h3>
                    <p>{{ card2.rarity }}</p>
                    <p>{{ card2.value }}</p>
                    <button type="button" class="buy">Купить<button>
                    </button>
                        <div class="daily_product"><img src="{{ url_for('static', filename='img/' + card3.image_filename) }}" alt="{{ card3.title }}">
                            <h3>{{ card3.name }}</h3>
                            <p>{{ card3.rarity }}</p>
                            <p>{{ card3.value }}</p>
                            <button type="button" class="buy">Купить<button>

                            </button>
                                <div class="daily_gifts">Ежедневный подарок
                                    <div class="daily_gift"><img src="{{ url_for('static', filename='img/' + card4.image_filename) }}" alt="{{ card4.title }}">
                                        <h3>{{ card4.name }}</h3>
                                        <p>{{ card4.rarity }}</p>
                                        <p>{{ card4.value }}</p>
                                        <buttontype="button" class="buy">Купить<button>

                                    </div>

                                </div>


                                {% endblock %}
</html>